:root {
    --bcolor: #EEEEF7;
    --hcolor: #30353D;
    --lcolor: #445877;
    --icolor: #92CCCE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bcolor);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
/* Header section */
header {
    padding: 10px 0px 10px 0px;
    background-color: var(--hcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    font-size: 40px;
    background-color: var(--icolor);
    color: #30353D;
    justify-content: right;
}

main {
    margin: 2%;
}


#About-me {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    color: var(--lcolor);
}

.box {
    position: relative;
}

.ocean {
display: flex;
flex-wrap: wrap;
width: 100%;
height: 400px;
border: 5px solid var(--icolor);
flex-grow: 2;
margin: 10px;
}
.ocean-img {
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.5;
}

.four-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.four-pic {
display: flex;
flex-wrap: wrap;
width: 45%;
height: 200px;
border: 5px solid var(--icolor);
flex-grow: 1;
margin: 10px;
}

img:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.5;
}

.subtitle {
    position: absolute;
    bottom: 40px;
    color: var(--hcolor);
    background-color: var(--icolor);
    flex-basis: auto;
}

.subtitle h3 {
    font-size: 200%;
    font-weight: bold;
    margin: 10px 15px 0px;
}

.subtitle-base p {
    font-size: 125%;
    margin: 0px 15px 10px;
}

#Work {
    color: var(--lcolor);
    display: flex;
    width: 80%;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
}

#Contact-me {
display: flex;
width: 80%;
}

header ul {
    margin-right: 20px;
    justify-content: space-evenly;
    display: flex;
    font-size: 120%;
    gap: 30px;
}
header nav ul li {
    display: flex;
}

header nav ul a {
    color: var(--icolor);
    border-bottom: solid 3px var(--icolor);
}

a:link {
    text-decoration: none;
}

.background {
    position: relative;
}

.subtitle-background {
    right: 5%;
    bottom: 25px;
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    color: var(--hcolor);
    background-color: var(--icolor);
}

.hero {
    height: 240px;
    width: 100%;
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
}

h2 {
    display: flex;
    justify-content: end;
    border-right: 3px solid var(--lcolor);
    width: 20%;
    font-size: 200%;
    color: var(--lcolor);
}

p{
    display: flex;
    width: 80%;
}

.contact {
    width: 80%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    justify-content: space-between;
    align-items: center;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    font-size: 125%;
}

.contact ul li {
    color: var(--lcolor);
    border-bottom: solid 3px var(--lcolor);
    flex-basis: auto;
}

.contact ul li a:visited{
    color: var(--lcolor);
}

.contact ul li a:link {
    color: var(--lcolor);
}
@media screen and ( max-width: 768px) {
    header,
    main, {
        flex-direction: column;
    }
    section {
        padding-right: 0;
    }
}